@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, #4CAF50, #2196F3, #9C27B0);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    height: 100%;
    color: #333;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(45deg, #4CAF50, #2196F3, #9C27B0);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.Home, .Projects{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}